<div class="main_nav">
  <div class="nav_btn">
    <p><%= link_to 'Home', root_path%></p>
    <p><%= link_to 'Service', homes_service_path%></p>
    <p><%= link_to 'Team', homes_team_path%></p>
    <p><%= link_to 'Press', homes_press_path%></p>
    <p><%= link_to 'Contact', homes_contact_path%></p>
  </div>
</div>
