<h1>Home#crawler</h1>

<div>
    <%for i in 0 ... @number.size%>
        <%=@number[i][:num1]%><br/>
        <%=@number[i][:num2]%><br/>
        <%=@number[i][:num3]%><br/>
        <%=@number[i][:num4]%><br/>
        <%=@number[i][:num5]%><br/>
        <%=@number[i][:num6]%><br/>
        <%=@number[i][:num8]%><br/>
    <%end%>
</div>
