<h1>Home#crawler</h1>

<div>
    Round : <%=@round%><br/>
    
    <%for i in 0 ... @number.size%>
        First Number : <%=@number[i][:num1]%><br/>
        Second Number : <%=@number[i][:num2]%><br/>
        Third Number : <%=@number[i][:num3]%><br/>
        Fourth Number : <%=@number[i][:num4]%><br/>
        Fifth Number : <%=@number[i][:num5]%><br/>
        Sixth Number : <%=@number[i][:num6]%><br/>
        Bonus Number : <%=@number[i][:bonusNum]%><br/>
    <%end%>
</div>
