<p id="notice"><%= notice %></p>


<!-- Main -->
<div id="main">
	<div class="inner">
		<header>
		  <h1>Rails SNS</h1>
      <p><%= link_to 'New Post', new_post_path %></p>
		</header>
  <% @posts.each do |post| %>
		<section class="tiles">
			<article class="style1">

				<span class="image">
					<img src="/images/pic01.jpg" alt="" />
				</span>
				<a href="/posts/<%=post.id%>">
					<h2><%= post.title %></h2>
					<div class="content">
						<p><%= post.content %></p>
            <p><%= post.user.email %></p>
					</div>
				</a>
			</article>
		</section>
    <br>
  <% end %>
