<!DOCTYPE html>
<html>
  <head>
    <title>BootstrapLayout</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>

  <body>
    <div id="wrapper">
    <%= render partial: 'shared/nav' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
    </div>

    <!-- Scripts -->
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/skel.min.js"></script>
      <script src="/assets/js/util.js"></script>
      <script src="/assets/js/main.js"></script>
  </body>
</html>
