<!DOCTYPE html>
<html>
  <head>
    <title>BtdPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to 'Home', root_path%>
      <%= link_to 'Service', homes_service_path%>
      <%= link_to 'Team', homes_team_path%>
      <%= link_to 'Press', homes_press_path%>
      <%= link_to 'Contact', homes_contact_path%>
    </div>
    <%= yield %>
  </body>
</html>
