<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Melting Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <div class="user_function">
      <%= render "posts/user_function" %>
    </div>
    <br />
      <%= render 'user_info', post: @post %>
    <hr />
    <h1>Posts</h1>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Title</th>
          <th>Content</th>
          <th>Like</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.user.email %></td>
            <td><%= post.title %></td>
            <td><%= post.content %></td>
            <td><%= post.likes.size %></td>
            <td><%= link_to 'Show', post %></td>
          <% if user_signed_in? && current_user == post.user %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Post', new_post_path %>
  </body>
</html>
