<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Melting Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <!-- Wrapper -->
			<div id="wrapper">

    <!-- Main -->
      <div id="main">

        <!-- Post -->
        <% @posts.each do |post| %>
          <article class="post">
            <header>
              <div class="title">
                <!--title -->
                <h2><a href="#"><%= post.title %></a></h2>
                <!--태그 넣을 예정  -->
                <%#= post.tags %>
              </div>
              <div class="meta">
                <time class="published"><%=post.created_at%></time>
                <a href="#" class="author"><span class="name"><%= post.user.email %></span><img src="images/avatar.jpg" alt="" /></a>
              </div>
            </header>
            <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
            <!--contents  -->
            <%= post.content %>
            <footer>
              <ul class="stats">
                <li><%= link_to 'Show more', post %></li>
                <li><a href="#" class="icon fa-heart"><%=post.likes.size %></a></li>
                <li><a href="#" class="icon fa-comment"><%=post.comments.size %></a></li>
              </ul>
            </footer>
          </article>
        <% end %>
      </div>
    </div>
  </body>
</html>
