<p id="notice"><%= notice %></p>
<!-- follow function -->
<% if user_signed_in? && current_user != @post.user %>
  <% if current_user.followings.include?(@post.user) %>
    <%= form_tag follow_path(@post.user.id), method: :delete, class: "right" do %>
      <button class="btn">Unfollow</button>
    <% end %>
  <% else %>
    <%= form_tag follows_path, method: :post, class: "right" do %>
      <input type="hidden" name="followed_id" value="<%=@post.user.id%>">
      <button class="btn">Follow</button>
    <% end %>
  <% end %>
<% end %>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  - <%= @post.likes.size %> degrees
  <!-- like button-->
  <% if current_user.is_like?(@post) %>
     <%= link_to "Cancel", post_like_path(@post), method: "post" %>
  <% else %>
    <%= link_to "Freeze", post_like_path(@post), method: "post" %>
  <% end %>

<%= render "comments/widget", commentable: @post %>

<%if current_user.id == @post.user_id %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', posts_path %>
